.light-off {
  --light-bulb: #000;
  --light-background: #000;
  --light-bulb-root: #000;
  --light-bulge-color: #00000000;
  --space-name-shadow: 0 0px 10px rgb(0, 0, 0);
  --switch-container-color: #ffffff4d;
  --switch-button-color: #ffffff1f;
  --switch-button-container-color: #8a8a8a30;
  --space-name-color: #000
}

.light-on {
  --light-bulb: #ffe69a;
  --light-background: #555555;
  --light-bulb-root: #d9d9d9;
  --light-bulge-color: #00000040;
  --space-name-shadow: 0 10px 10px rgb(0, 0, 0);
  --switch-container-color: #fff;
  --switch-button-color: #fff;
  --switch-button-container-color: #8a8a8a99;
  --space-name-color: #fff
}